
.search-form {
display: flex;
align-content: center;
justify-content: center;
padding-top: 20px;
padding-bottom: 20px;
}

.form {
  background-color: cornflowerblue;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: -10px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-item {
  text-decoration: none;
  padding: 0px;
  flex-basis: calc(100% / 4 - 10px);
  margin-left: 10px;
  margin-top: 10px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

img {
  display: block;
  max-width: 100%;
  height: 100%;
}

.info {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-item {
  
  margin-left: 5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: black;
}

.load-more {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  background-color: cornflowerblue;
  color: black;
  border-radius: 4px 4px 4px 4px;
  border: none;
}
